root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.php]
max_line_length = 120

[{*.html, *.less, *.sass, *.css, *.js, *.ts, *.json, *.tpl, *.vue, *.yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[composer.json]
indent_size = 4
