*.idea
*~
# Vagrant
/.vagrant
/deploy
/phinx.php
/phinx.yml
Vagrantfile
deploy/.ruby-version
ieducar/configuration/ieducar.ini
*.vscode
ieducar/modules/Reports
ieducar/vendor
ieducar/intranet/filaunica
ieducar/intranet/reservavaga
ieducar/misc/database/migrations/portabilis
.env
