/legacy
/public/intranet
/public/module
/public/modules
/vendor
.env
.env.host
.php_cs.cache
docker-compose.yml
phinx.php
phinx.yml

*.idea
*~
# Vagrant
/.gitkeep
/.vagrant
/deploy
Vagrantfile
deploy/.ruby-version
ieducar/configuration/ieducar.ini
*.vscode
ieducar/modules/Reports
ieducar/intranet/filaunica
ieducar/intranet/reservavaga
ieducar/misc/database/migrations/portabilis


# Docusauros
.DS_Store
node_modules
lib/core/metadata.js
lib/core/MetadataBlog.js
website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
!website/i18n/en.json
