.hgignore
*.pyc
*.bak
*.1
.project
.pydevproject
.hg
.hg/*.*
.hg/*
/trunk/configuration/*.*
/trunk/configuration/*
/trunk/configuration/*.ini
/trunk/intranet/portabilis_report_test.php
/trunk/intranet/test_db.php
/trunk/modules/Avaliacao/Views/PromocaoAjaxController.php
/trunk/modules/Avaliacao/Views/PromocaoController.php
