version: '3'

services:

  nginx:
    container_name: ieducar-nginx
    build: docker/nginx
    links:
      - php
    ports:
      - 80
    working_dir: /var/www/ieducar
    volumes:
      - ./:/var/www/ieducar

  php:
    container_name: ieducar-php
    build: docker/php
    links:
      - postgres
      - redis
    environment:
      PGPASSWORD: ieducar
      XDEBUG_IDEKEY: xdebug
      XDEBUG_REMOTE_HOST: 127.0.0.1
      XDEBUG_REMOTE_PORT: 9000
      XDEBUG_REMOTE_ENABLE: 0
      XDEBUG_AUTOSTART: 0
    working_dir: /var/www/ieducar
    volumes:
      - ./:/var/www/ieducar

  postgres:
    container_name: ieducar-postgres
    image: postgres:9.5
    environment:
      POSTGRES_DB: ieducar
      POSTGRES_USER: ieducar
      POSTGRES_PASSWORD: ieducar
    ports:
      - 5432
    volumes:
      - ./database/data:/var/lib/postgresql/data

  redis:
    container_name: ieducar-redis
    image: redis
    restart: always
    ports:
      - 6379
