version: '3'

services:

  nginx:
    container_name: ieducar-nginx
    build: docker/nginx
    links:
      - php
    ports:
      - 3000:80
    working_dir: /var/www/ieducar
    volumes:
      - ./:/var/www/ieducar

  php:
    container_name: ieducar-php
    build: docker/php
    links:
      - postgres
      - redis
    environment:
      PGPASSWORD: ieducar
    working_dir: /var/www/ieducar
    volumes:
      - ./:/var/www/ieducar

  postgres:
    container_name: ieducar-postgres
    image: postgres:13-alpine
    environment:
      POSTGRES_DB: ieducar
      POSTGRES_USER: ieducar
      POSTGRES_PASSWORD: ieducar
    ports:
      - 5000:5432
    volumes:
      - ./database/data:/var/lib/postgresql/data

  redis:
    container_name: ieducar-redis
    image: redis:alpine
    restart: always
    ports:
      - 6379
