<?php

$app = require 'bootstrap/app.php';

$environments = [
    "development" => [
        "adapter" => env('DB_CONNECTION'),
        "host" => env('DB_HOST'),
        "port" => env('DB_PORT'),
        "user" => env('DB_USERNAME'),
        "pass" => env('DB_PASSWORD'),
        "name" => env('DB_DATABASE'),
        "charset" => "utf8",
    ],
];

$configuration = [
    "paths" => [
        "migrations" => [
            "ieducar/misc/database/migrations",
        ],
        "seeds" => [
            "ieducar/misc/database/seeds",
        ],
    ],
    "environments" => $environments,
];

return $configuration;
