<?php

$environments = array(
	"development" => array(
		"adapter" => "pgsql",
		"host" => "postgres_95",
		"user" => "ieducar",
		"pass" => "ieducar",
		"port" => "5432",
		"charset" => "utf8",
		"name" => "ieducar",
	),
);

$configuration = array(
	"paths" => array(
		"migrations" => array(
            "ieducar/misc/database/migrations",
        ),
        "seeds" => array(
            "ieducar/misc/database/seeds",
        ),
	),
	"environments" => $environments,
);

return $configuration;
