<?php

$environments = [
    "development" => [
        "adapter" => "pgsql",
        "host" => "postgres",
        "port" => "5432",
        "user" => "ieducar",
        "pass" => "ieducar",
        "name" => "ieducar",
        "charset" => "utf8",
    ],
];

$configuration = [
    "paths" => [
        "migrations" => [
            "ieducar/misc/database/migrations",
        ],
        "seeds" => [
            "ieducar/misc/database/seeds",
        ],
    ],
    "environments" => $environments,
];

return $configuration;
