* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(248, 248, 248);
    color: #494949;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

code, pre {
    font-family: 'PT Mono', monospace;
}

pre {
    background-color: black;
    color: greenyellow;
    font-size: .75rem;
    margin-bottom: 1rem;
    overflow: auto;
    padding: 1rem;
    width: 100%;
}

pre:last-child {
    margin-bottom: 0;
}

p {
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

h1 {
    display: none;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

ul {
    list-style: none;
    margin-bottom: 1rem;
}

button {
    background-color: #0498EE;
    border: 0;
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    padding: .75rem 1rem;
}

a {
    color: #0498EE;
}

header {
    font-weight: 700;
    margin: 3rem 0;
    text-align: center;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 50rem;
    padding: 0 2rem;
}

.module {
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 0 3rem rgb(234, 234, 234);
    margin-bottom: 2rem;
    padding: 1.4rem;
}

.textCenter {
    text-align: center;
}

.fa-check {
    color: green;
}

.fa-times {
    color: darkred;
}

.extensions ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.adminPassword {
    margin: 0 auto 1rem auto;
    width: 50%;
}

.adminPassword label {
    display: block;
    font-weight: 700;
    margin-bottom: .2rem;
}

#password {
    background-color: #E2E2E2;
    border: 0;
    border-radius: .5rem;
    display: block;
    margin: 0;
    padding: .75rem 1rem;
    width: 100%;
}

.installing,
.updating {
    display: none;
}

#installProgress {
    height: 2rem;
    width: 100%;
}
