/* your custom css */
@import url('https://fonts.googleapis.com/css?family=Hind:300,400,700|Muli:400,700');


.navPusher {
  padding-top: 80px;
}

.homeContainer {
  height: 620px;
  background-image: url('../img/FB_cover.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.homeContainer .inner {
  display: none;
}

.textEmail {
  display: flex;
  justify-content: left;
  opacity: 0.9;
  border: none;
  border-radius: 5px;
}

.inner {
  text-align: left;
  display: block;
}

.promoSection .promoRow {
  padding: 0px;
}

.promoSection .promoRow .pluginRowBlock{
  justify-content: left;
}

.homeContainer .homeWrapper {
  padding-top: 161px;
}

.projectTitle {
  font-family: $titleFont;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #ffffff;
  margin: 0px;
}

.projectTitle small {
  font-family: $descriptionFont;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0px;
}

.fixedHeaderContainer > .wrapper {
  margin: 0 auto;
  width: 1440px;
  padding: 0 32px;
  height: 80px;
  margin: 0px;
  max-width: 1440px;
}

.fixedHeaderContainer {
  height: 80px;
  background: #ffffff;
  padding: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.fixedHeaderContainer header {
  height: 42px;
  position: relative;
  top: 19px;
  margin: 0px;
  justify-content: space-between;
  width: 100%;
}

.fixedHeaderContainer a {
  height: 42px;
}

.fixedHeaderContainer header img {
  width: 115px;
  height: 42px;
  object-fit: contain;
}

.navigationSlider {
  height: 42px;
  min-height: 8px;
}

.navigationSlider nav.slidingNav{
  top: 10px;
}

.navigationSlider .slidingNav ul li a {
  color: #4e5666;
  border: 0;
  display: flex;
  font-size: 16px;
  font-family: $descriptionFont;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  height: 26px;
  margin: 0;
  padding: 0;
  padding: 6px 10px;
  border-radius: 4px;
}

.productShowcaseSection h2 {
  font-family: $titleFont;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #4e5666;
}

.productShowcaseSection {
  background: #ffffff;
}

.blockHeader h2 p{
  font-family: $titleFont;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #4e5666;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a {
  color: #4e5666;
  background: none;
}

.mainContainer {
  background: #ffffff;
  padding: 0px;
}

@media only screen and (max-device-width: 390px) {
  .navigationSlider .slidingNav ul li a {
    font-size: 14px;
  }
}

@media only screen and (max-device-width: 776px) {
  .homeContainer {
    height: 100%;
    background-image: none;
  }
  .homeContainer .inner {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .fixedHeaderContainer header img {
    width: 115px;
    height: 42px;
    object-fit: contain;
  }
  .fixedHeaderContainer {
    width: 100%;
  }
  .fixedHeaderContainer > .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 0 32px;
    height: 80px;
    margin: 0px;
  }
}

@media only screen and (max-width: 1023px) {
  .fixedHeaderContainer header img {
    width: 115px;
    height: 42px;
    object-fit: contain;
  }
  .fixedHeaderContainer {
    width: 100%;
  }
  .fixedHeaderContainer > .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 0 32px;
    height: 80px;
    margin: 0px;
  }

  .navigationSlider nav.slidingNav {
    top: 28px;
  }

  .navigationSlider .slidingNav ul {
    background-color: #ffffff;
  }

  .navPusher {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1400px) {

}

@media only screen and (min-width: 1500px) {
  .fixedHeaderContainer > .wrapper {
    max-width: 100%;
  }

}
