/* fixups ieducar */
table#tablenum1 {
  border: 0px;
}

td.formdktd {
  background-color: #fff;
}

#form_resultado {
  margin-bottom: 70px;
}

tr.rodape {
  display: none;
}

#corpo {
  margin: 0
}


/* portabilis style */

#nav-actions a {
  margin-right: 10px;
}

/* feedback messages utils */

#feedback-messages {
  position: fixed;
  bottom: 0px;
  background-color: #fff;
}

#feedback-messages p {
  margin: 2px 2px 0px 2px;
  padding: 4px;
}