BODY
{
	font-family: arial, verdana, sans;
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
}
A:link,A:visited,A:active
{
	color: #3355AA;
}
A:hover
{
	color: #113388;
}
P
{
	text-align: justify;
}
ABBR
{
	background-color: #DDEEFF;
}
.box
{
	font-family: arial, verdana, sans;
	font-size: 12px;
	color: #000000;
	background-color: #BBDD99;
	border-style: outset;
	border-width: 1px;
	border-color: #BBDD99;

	margin: 5px;
	padding: 4px;
	text-align: justify;
}
TD
{
	font-family: arial, verdana, sans;
	font-size: 12px;
	color: #000000;
	text-align: justify;
}

.img
{
	text-align: center;
	padding: 2px;
	padding-bottom: 15px;
}

.obs
{
	font-family: sans, verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	/*background-color: #DDDDDD;*/
	/*margin: 15px;*/
	padding: 8px;
	/*border-color: #DDDDDD;
	border-bottom-color: #DDDDDD;
	border-style: outset;
	border-width: 1px;*/
}

.t1
{
	font-family: sans, verdana;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	background-color: #f5f9fd;
	/*margin: 5px;*/
	padding: 10px;
	border-bottom-color: #000000;
	border-style: outset;
	border-width: 0px 0px 1px 0px;

}
.t2
{
	font-family: sans, verdana;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #495C67;
	/*background-color: #BBDD99;*/
	padding: 4px;
	/*padding-top: 5px;
	padding-bottom: 2px;*/
}
.t3
{
	font-family: sans, verdana;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	color: #000000;
	background-color: #ccdce6;
	/*background-color: #BBDD99;*/
	padding: 2px;
	padding-left: 13px;
	/*padding-top: 7px;
	padding-bottom: 5px;*/
}
.t4
{
	font-family: sans, verdana;
	font-size: 12px;
	font-style: italic;
	color: #000000;
	background-color: #f5f9fd;
	/*background-color: #BBDD99;*/
	padding: 2px;
	padding-left: 13px;
	/*padding-top: 7px;
	padding-bottom: 5px;*/
}
.text
{
	font-family: sans, verdana;
	font-size: 12px;
	color: #000000;
	text-align: justify;
	padding: 5px;
	/*padding-top: 5px;*/
	padding-bottom: 5px;
}