:root{
  --font-color: #47728f;
  --font-color-a: #188ad1;
  --font-color-gray: #999;
  --font-color-menu: #999;
  --text_area: ;
  --input_: ;

}





html{
  font-size: 62.5%;
  width: 100%;
}
body{
  font-size: 16px;

}

body, html{
  font-family: "Open Sans";
  height: 100% !important;
  min-height: 100% !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 200;
  line-height: 1.5;
  color: #333;
  text-align: left;
}

table:not(.paginacao) {
  width: 100%;
}

a{
  color: var(--font-color-a);
}

a:hover{
  color: var(--font-color-a);
}

caption{
  font-size: 12px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccdce6;
}

input, select, textarea, span.select2.select2-container.select2-container--default{
  border: solid 1px #cddce6 !important;
  color: var(--font-color);
  border-radius: 3px;
}

select{
  width: 75% !important;
}

input:read-only {
  background-color: #e9f0f8 !important;
}

.input-success {
  background-color: #a7f9a8;
}

.select2-container{
  font-size: 14px;
  line-height: 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    font-size: 14px;
    padding: 4px;
}
.select2-results__option {
    color: --var(font-color);
}

.colorFont {
  color: --var(font-color);
}

.sizeFont {
  font-size: 1.75rem;
}

input.select2-search__field,
#formcadastro input.select2-search__field,
span.select2-selection.select2-selection--multiple{
  border: none !important;
}

.select2-dropdown {
  border-color: #cddce6 !important;
}

.geral {
  width: 75% !important;
}

.chosen-container, input[type="text"] select .geral {
  width: 50% !important;
}

.chosen-container-single .chosen-single
{
  border-radius: 3px !important;
  background: #ffffff !important;
  border: solid 1px #cddce6 !important;
  padding: 8px !important;
  font-size: 14px !important;
  color: --var(font-color) !important;
  max-width: 100% !important;
  height: auto !important;
  width: auto !important;
  box-shadow: none !important;
}

.chosen-container-single .chosen-single div b {
  background-position: 0 10px !important;
}

.chosen-container-active.chosen-with-drop .chosen-single div b{
  background-position: -18 10px !important;
}

input[type="button"] {
  background-color: #FFF !important;
  font-size: 14px !important;
  color: --var(font-color) !important;
  padding: 10px 30px !important;
  border-radius: 3px !important;
  font-weight: normal;
  margin: 15px 0px;
}

select{
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #cddce6;
  padding: 8px;
  color: --var(font-color);
}

.decorated {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: var(--font-color-a);
}

.disabled, *[disabled]{
  background-color: #e9f0f8 !important;
  color: --var(font-color);
}

#lupa{
  cursor: pointer;
}

span.error_notice {
  display: table;
  padding: 7px;
  margin: 5px 0px;
  background-color: #ffdbdb;
  border: solid 1px #ffb2b2;
  color: #d46262;
  border-radius: 3px;
}

/**************************************
**************** CORES ****************
**************************************/

.btn {
  display: inline-block;
  font-weight: 200;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-lg{
    padding: 12px 30px;
    font-size: 13px;
    font-weight: 300;
}

  .btn-primary {
	color: #212529;
	background-color: #cdcdcd;
	border-color: #cdcdcd;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
	.btn-primary:hover {
    color: #212529;
    background-color: #bababa;
	border-color: #b4b4b4; }
	.btn-primary:focus, .btn-primary.focus {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(205, 205, 205, 0.5); }
	.btn-primary.disabled, .btn-primary:disabled {
    color: #212529;
    background-color: #cdcdcd;
	border-color: #cdcdcd; }
	.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
	.show > .btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #b4b4b4;
	border-color: #adadad; }
	.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
	.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(205, 205, 205, 0.5); }

.btn-secondary {
	color: #212529;
	background-color: #b0b0b0;
	border-color: #b0b0b0;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
.btn-secondary:hover {
    color: #212529;
    background-color: #9d9d9d;
	border-color: #979797; }
	.btn-secondary:focus, .btn-secondary.focus {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(176, 176, 176, 0.5); }
	.btn-secondary.disabled, .btn-secondary:disabled {
    color: #212529;
    background-color: #b0b0b0;
	border-color: #b0b0b0; }
	.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
	.show > .btn-secondary.dropdown-toggle {
    color: #212529;
    background-color: #979797;
	border-color: #909090; }
	.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
	.show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(176, 176, 176, 0.5); }


.btn-success {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
	.btn-success:hover {
    color: #fff;
    background-color: #218838;
	border-color: #1e7e34; }
	.btn-success:focus, .btn-success.focus {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }
	.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #28a745;
	border-color: #28a745; }
	.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
	.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
	border-color: #1c7430; }
	.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
	.show > .btn-success.dropdown-toggle:focus {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }

.btn-info {
	color: #fff;
	background-color: #007BEA;
	border-color: #007BE0;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
	.btn-info:hover {
    color: #fff;
    background-color: #005BC0;
	border-color: #005BC0; }
	.btn-info:focus, .btn-info.focus {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(0, 123, 234, 0.5); }

.btn-warning {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
	border-color: #d39e00; }
.btn-warning:focus, .btn-warning.focus {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
.btn-warning.disabled, .btn-warning:disabled {
    color: #212529;
    background-color: #ffc107;
	border-color: #ffc107; }
	.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
	.show > .btn-warning.dropdown-toggle {
    color: #212529;
    background-color: #d39e00;
	border-color: #c69500; }
	.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
	.show > .btn-warning.dropdown-toggle:focus {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }

.btn-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
	.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
	border-color: #bd2130; }
	.btn-danger:focus, .btn-danger.focus {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
	.btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
	border-color: #dc3545; }
	.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
	.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
	border-color: #b21f2d; }
	.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
	.show > .btn-danger.dropdown-toggle:focus {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }

.btn-light {
	color: #212529;
	background-color: #eaeaea;
	border-color: #eaeaea;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
	.btn-light:hover {
    color: #212529;
    background-color: #d7d7d7;
	border-color: #d1d1d1; }
	.btn-light:focus, .btn-light.focus {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(234, 234, 234, 0.5); }
	.btn-light.disabled, .btn-light:disabled {
    color: #212529;
    background-color: #eaeaea;
	border-color: #eaeaea; }
	.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
	.show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: #d1d1d1;
	border-color: #cacaca; }
	.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
	.show > .btn-light.dropdown-toggle:focus {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(234, 234, 234, 0.5); }

.btn-dark {
	color: #fff;
	background-color: #555555;
	border-color: #555555;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
	.btn-dark:hover {
    color: #fff;
    background-color: #424242;
	border-color: #3c3c3c; }
	.btn-dark:focus, .btn-dark.focus {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(85, 85, 85, 0.5); }
	.btn-dark.disabled, .btn-dark:disabled {
    color: #fff;
    background-color: #555555;
	border-color: #555555; }
	.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
	.show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #3c3c3c;
	border-color: #353535; }
	.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
	.show > .btn-dark.dropdown-toggle:focus {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(85, 85, 85, 0.5); }






/**************************************
*************** FONTES ****************
**************************************/

.b {
  font-weight: bold;
}

.i{
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.75rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

label {
  display: inline-block;
  margin-bottom: 0.5rem;}

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.75rem;
 /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-weight: 200;
    line-height: 1.2;
    color: inherit;
  }

span  {
  font-size: 1.75rem; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }

  @media only screen and (max-width: 1023px) {
    span  {
      font-size: 3.4rem; }

    h1, .h1 {
      font-size: 5.5rem; }

    h2, .h2 {
      font-size: 5rem; }

    h3, .h3 {
      font-size: 4.75rem; }

    h4, .h4 {
      font-size: 4.5rem; }

    h5, .h5 {
      font-size: 4.25rem; }

    h6, .h6 {
      font-size: 4rem; }

    #localizacao span {
      font-size: 3.5rem; }

    .fundoCalendarioTopo {
      font-size: 3rem; }

    label {
      font-size: .7em;}

  }

/**************************************
***** LINHA / COLUNA / CONTAINER ******
**************************************/
.main {
  display: flex;
  align-items: unset;
  contain: content;

}

.sidebar{
  flex:1;
}

.content {
  flex: 3;
  min-height: 100vh;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

  .c-content {
    display:contents;
  }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  flex: 1fr;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.flex{
  display: flex;
  margin: auto;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 13; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 1023px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    order: -1; }
  .order-xl-last {
    order: 13; }
  .order-xl-0 {
    order: 0; }
  .order-xl-1 {
    order: 1; }
  .order-xl-2 {
    order: 2; }
  .order-xl-3 {
    order: 3; }
  .order-xl-4 {
    order: 4; }
  .order-xl-5 {
    order: 5; }
  .order-xl-6 {
    order: 6; }
  .order-xl-7 {
    order: 7; }
  .order-xl-8 {
    order: 8; }
  .order-xl-9 {
    order: 9; }
  .order-xl-10 {
    order: 10; }
  .order-xl-11 {
    order: 11; }
  .order-xl-12 {
    order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }


/**************************************
************ TOPO / RODAPÉ ************
**************************************/

.topo{
  height: 50px;
  background: --var(font-color);
  color: #FFF;
}

header{
  display: flex;
  flex: 1;
}

.topo td.logo {
  font-size: 24px;
  font-weight: bold;
  padding-left: 23px;
}

.topo td.perfil-user {
  font-size: 14px;
  padding-right: 23px;
}

.topo .dropbtn {
  color: white;
  padding: 6px;
  padding-right: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-image: url('../imagens/arrow-down.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 12px;
}

.topo .dropbtn:hover,
.dropdown:hover .dropbtn{
  background-image: url('../imagens/arrow-up.png');
  background-repeat: no-repeat;
  background-position: center right;
}

.topo .dropdown {
  position: relative;
  display: inline-block;
  margin-left: 40px;
}

.topo .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.topo .dropdown-content a {
  color: #646b71;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topo .dropdown-content a:hover {color: var(--font-color-a)}




.ieducar-header-links .dropdown.notifications {
  float: right;
  margin: 0;
  z-index: 1;
}

.ieducar-header-links .dropbtn.notifications {
  color: #ffffff;
  padding: 0 5px;
  margin-right: 15px;
  margin-top: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 12px;
}

.ieducar-header-links .dropbtn.notifications:hover,
.dropdown:hover .dropbtn.notifications {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center right;
}

.topo .dropdown:hover .dropdown-content.menu {
  display: block;
}


.ieducar-header-links .dropdown-content-notifications {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 19px;
  top: 41px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ieducar-header-links .dropdown-content-notifications a {
  color: #646b71;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid #ccdce6;
}

.ieducar-header-links .dropdown-content-notifications a:hover {
  color: var(--font-color-a)
}

.dropdown-content-notifications a {
  font-size: 12px !important;
}

.dropdown-content-notifications {
  width: 400px !important;
}

.btn-all-notifications {
  text-align: center !important;
}

span.notification-balloon {
  background-color: red;
  padding: 5px;
  border: 2px solid --var(font-color);
  height: 0;
  position: absolute;
  border-radius: 50%;
  top: 10px;
  margin-left: -12px;
  display: none;
}

.dropdown-content-notifications a.unread {
  font-weight: bold;
  background-color: #e9f0f8;
}

.dropdown-content-notifications p.date-notification {
  text-align: right;
  font-size: 10px;
  color: var(--font-color-gray);
}

.notifications-bar {
  display: flow-root;
  color: #646b71;
  padding: 5px 15px !important;
  border-bottom: 1px solid #ccdce6;
  background: #eee !important;
  font-weight: bold !important;
}

.notifications-bar a.btn-all-notifications,
.notifications-bar a.btn-mark-all-read {
  padding: 0 !important;
  float: right;
  background: none;
  border: 0 !important;
  color: #646b71 !important;
}

.notifications-bar a.btn-all-notifications:hover,
.notifications-bar a.btn-mark-all-read:hover {
  color: var(--font-color-a) !important;
}

.notifications-bar a.btn-mark-all-read {
  padding-right: 7px !important;
  margin-right: 7px;
  border-right: 1px solid #ccdce6 !important;
  cursor: pointer;
}

tr.unread td {
  font-weight: bold;
}

img#help {
    position: relative;
    top: 7px;
    margin-right: 15px;
    width: 20px;
}

img#notificacao {
    position: relative;
    top: 7px;
    margin-right: 15px;
    width: 20px;
}

a.icons-top{
  text-decoration: none !important;
}

.topo .foto-user {
  width: 35px;
  height: 35px;
  background-size: cover !important;
  background-position: center;
  position: absolute;
  border-radius: 50%;
  display: inline-block;
}

.rodape{
  height: 30px;
  background-color: #2497c6;
  color: #FFF;
  font-size: 10px;
}

.rodape a{
  color: #FFF;
  text-decoration: underline;
}

.flashMessages {
  width: 66%;
}

/**************************************
**************** MENUS ****************
**************************************/

.r3c1{
  background: rgba(54,54,54,1) !important;
  box-shadow: 2px 3px 6px rgba(65,69,88,0.6);
  border: 0;
  z-index: 10;
 /* border-radius: 10px; */ }
.r3c1:hover{ background: rgba(54,54,54,1) !important; transition: background .2s ease-in-out;}


.Mobile{
  width: 75%;
  height: -webkit-fill-available;
  background: rgba(54,54,54,1);
  /*display:none; */
  border: 0;
  position: absolute;
  left: -75%;
  z-index: 2;
  transition: left .5s ease-in-out;
}

.nvp_tabelaMenu{
  background: #e9f0f8;
}

.nvp_tabelaMenu .title-busca-rapida a {
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: bold !important;
}

.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.15);
}

.nvp_tabelaMenu .title-busca-rapida .title:hover{
  background: transparent;
}

.nvp_tabelaMenu input#busca-menu-input{
  width: 100% !important;
  font-size: 12px;
  padding: 11px;
  margin-bottom: 10px;
}

@-moz-document url-prefix() {
  .nvp_tabelaMenu input#busca-menu-input{
    width: 88% !important;
  }
}

.nvp_tabelaMenu .title {
  background: transparent;
  width: 210px;
  padding: 10px 10px;
  margin: 0 10px;
  border-radius: 3px;
}

.nvp_tabelaMenu .title:hover{
  background: #cddce6;
}


.nvp_tabelaMenu .title a{
  color: --var(font-color);
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}

.title .img{
  width: 13px;
  height: 13px;
}

.nvp_tabelaMenu .nvp_sub {
    padding: 3px 40px !important;
    width: 190px;
}

.nvp_tabelaMenu .nvp_sub a{
  color: --var(font-color);
  font-size: 12px;
}

.nvp_tabelaMenu ul.menu{
  width: 100%;
}

.nvp_tabelaMenu ul.menu li{
  padding: 0 20px;
  display: flex;
}

.clLevel0border{
  margin-top: 0;
  background: #FFF;
  height: 40px !important;
  width: auto !important;
  clip: auto !important;
}
.clLevel1border,
.clLevel2border{
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.15);
}

.clLevel0{
  background: #e9eff7;
  border: 0;
  display: flex;
  padding: 0 30px 0 10px;
  width: auto !important;
  clip: auto !important;
}

.clLevel0over{
  background: #ccdce6;
  border: 0;
  display: flex;
  padding: 0 30px 0 10px;
  width: auto !important;
  clip: auto !important;
}

.clLevel1, .clLevel2{
  background: #FFF;
}

.clLevel1over, .clLevel2over{
  background: #ccdce6;
}

.clLevel1 a,
.clLevel2 a,
.clLevel1over a,
.clLevel2over a{
  color: #646b71;
  font-size: 14px;
  text-decoration: none;
}

.menu_susp_root{
  color: --var(font-color) !important;
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
}

a.menu_susp_root:after {
    content: "";
    float: right;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-right: -15px;
    margin-top: -14px;
    background-image: url('../imagens/arrow-down2.png');
    background-size: 100%;
}

@-moz-document url-prefix() {
  a.menu_susp_root:after {
    margin-top: 8px;
  }
}

.clLevel1border {
  background: #f3f3f3;
}

.clLevel2border {
  background: #f3f3f3;
}

div#fa-icons {
    float: left;
    padding: 1px 0px;
    width: 30px;
    text-align: left;
    color: #98b0c3;
    font-size: 20px;
    margin-right: 8px;
}

.expandir-btn {
  background-color: rgba(54,54,54);
  box-shadow: 2px 3px 3px rgba(50, 50, 50, 0.5);
  border-radius: 0 30px 30px 0;
  position: absolute;
  display: none;
  margin-left: -3px;
  /*    opção 1       */
  /*margin-top: 0px;  */
  margin-top: 60vw;
  padding: 80px 10px;
  transition: margin-left .5s ease-in-out;
  z-index: 2;
}

#expandido {display: none;}


/**************************************
************* BREADCRUMB **************
**************************************/

td.fundoLocalizacao {
    background-color: #FFF;
}

#localizacao {
    margin-top: 15px;
}

#localizacao a,
#localizacao span{
  font-weight: bold !important;
  color: --var(font-color);
}

#localizacao .pagina_atual,
#localizacao .pagina_atual:hover,
#localizacao .flechinha,
#localizacao .flechinha:hover{
  color: var(--font-color-gray) !important;
}

/**************************************
*********CALENDÁRIO ANO LETIVO*********
**************************************/
.input_calendario_letivo td,
.input_calendario_letivo td select{
  font-size: 14px !important;
}

table.calendar {
    margin-top: 20px;
    width: 100%;
}

table.calendar .cal_dir, .cal_esq{
  background-image: none;
  color: --var(font-color);
  text-align: left;
  height: auto;
  font-size: 40px;
  padding: 0 10px;
}

table.calendar .header {
  background: #fff;
  color: --var(font-color);
  border: 0;
}

table.calendar .header td{
  background: #ccdce6;
  width: 45px;
  padding: 10px;
}

table.calendar .dayLastMonth, .day{
  border: 0;
  padding: 10px !important;
  width: 45px !important;
  color: --var(font-color);
}

table.calendar .day{
  background-color: #e9f0f8;
  cursor: pointer;
}

table.calendar .day:hover{
  opacity: .7;
}

table.calendar .anotacao{
  float: right;
  font-size: 16px;
}

table.calendar .legenda{
  border: 0;
  color: --var(font-color);
  font-size: 12px;
}

table.calendar .legenda .fa{
  font-size: 14px;
}

table.calendar .cor{
  border: 0;
}

/**************************************
**************CALENDÁRIO***************
**************************************/

.fundoCalendarioTopo {
  background-color: --var(font-color);
  padding: 7px !important;
  border: 0;
}

.fundoCalendario{
  background-color: #cddce6;
  border: 0;
  color: --var(font-color);
}

.fundoCalendarioUrgente,
.fundoCalendarioProximo {
  border: 0;
  color: --var(font-color) !important;
}

.fundoCalendario .dia_agenda,
.fundoCalendarioUrgente .dia_agenda,
.fundoCalendarioProximo .dia_agenda {
  position: absolute !important;
  font-size: 24px;
  color: rgba(147,147,147,1);
}

.fundoCalendario span,
.fundoCalendarioUrgente span,
.fundoCalendarioProximo span{
  color: --var(font-color);
  font-size: 12px;
  font-weight: bold;
  position: relative;
}

.fundoCalendarioMesDiferente{
  background-color: #e9f0f8;
  border: 0;
  color: --var(font-color);
}

.fundoCalendarioMesDiferente span{
  font-weight: bold;
  font-size: 24px;
  color: rgba(154,154,154,.5);
}

.fundoCalendarioUrgente,
.fundoCalendarioProximo{
  padding: 5px;
}

a.agenda-ver-todos b {
  color: var(--font-color-a);
  font-size: 12px;
}

a.nav_agenda{
  color: #FFF;
}

a.nav_agenda:hover{
  text-decoration: none;
  opacity: .9;
}

/**************************************
********** QUADRO DE HORARIO **********
**************************************/

table.calendar .cal_esq_qh{
  background: none !important;
  color: --var(font-color);
  text-align: left;
  height: auto;
  font-size: 40px;
  padding: 0 10px;
}

table.calendar .mes{
  color: --var(font-color);
  padding: 10px;
  font-size: 16px;
}

table.calendar .horario {
    background: #e9f0f8;
    margin-bottom: 2px;
    padding: 10px;
}

.input_quadro_horario td,
.input_quadro_horario td select{
  font-size: 14px !important;
}
/**************************************
****************AGENDA*****************
**************************************/

.escuro{
  background-color: #f5f9fd !important;
}

.titulo, .comp_tit_antigo{
  color: --var(font-color) !important;
}

td.arrow-dia a {
  color: --var(font-color);
}

td.arrow-dia {
  font-size: 25px;
  padding: 0 5px;
  background: #ccdce6;
}

td.data-info{
  background: #ccdce6;
  padding: 11px 0;
}

td.data-info span{
  color: --var(font-color);
}

.small:hover{
  text-decoration: none;
}

.small div {
  background: #e9f0f8;
  border: 1px solid #cddce6;
  color: --var(font-color);
  padding: 5px 15px 5px 13px;
  border-radius: 3px;
  margin: 2px 0;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
}

.small div.important{
  background-color: #ffdbdb;
  border: solid 1px #ffb2b2;
}

.small div.history{
  background-color: #fff9db;
  border: solid 1px #fff3b3;
}

.compromisso input,
textarea.agenda_conteudo {
    margin: 5px !important;
    font-size: 12px;
}

table.calendario{
  border: 0;
  background-color: #FFF;
}

table.calendario td{
  padding: 5px;
}

table.calendario td a{
  color: --var(font-color);
}

.calendario_dias_t{
  background: #ccdce6;
  color: --var(font-color);
  border: 0;
}

.calendario_outromes{
  background: #FFF;
  border: 0;
  color: #CCC !important;
}

.calendario_dias{
  border: 0;
  background: #e9f0f8;
}

.calendario_dia_sel{
  background: #ccdce6;
  border: 0;
}

/**************************************
****************MODAIS*****************
**************************************/

.ui-dialog{
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.3);
}

.ui-dialog h2 {
    color: #FFF;
    background: --var(font-color);
    margin: 0 0 25px !important;
    padding: 18px;
    font-size: 18px;
    text-align: center;
}


.ui-dialog fieldset legend{
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  color: --var(font-color);
}

.ui-dialog input{

  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #cddce6;
  font-size: 14px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #596066;
  padding: 8px;
  margin: 4px 10px 4px 0px !important;
}

.ui-dialog select{

  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #cddce6;
  font-size: 14px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #596066;
  padding: 8px !important;
  margin-right: 4px;
}

.ui-dialog label{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: --var(font-color);
  margin-right: 5px;
}

.ui-dialog a, .ui-dialog .decorated{
  font-size: 14px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: var(--font-color-a) !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
	float: none !important;
	text-align: center !important;
  border-top: 1px solid #ccdce6;
  padding: 10px 0px;
  
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default{
  border: 0 !important;
}

.ui-button span{
  border-radius: 3px;
  border: solid 1px #cddce6 !important;
  font-size: 14px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: --var(font-color) !important;
  background: #FFF;
  padding: 9px 35px !important;
}

.ui-widget-content {
  border-radius: 3px;
  border: 0;
}

.ui-dialog-titlebar-close:hover {
	background: transparent !important;
	border: 0 !important;
}

.ui-icon:hover{
	background-image: url('../scripts/jquery/jquery-ui.min-1.9.2/css/custom/images/ui-icons_ffffff_256x240.png') !important;
}



.atualizacao-dados  .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix{
	background: --var(font-color);
	color: #FFF;
	text-align: center;
}

.atualizacao-dados span.ui-button-text{
  border-radius: 3px;
  background-color: #0ac336;
  color: #FFF !important;
  border: 0 !important;
}

.atualizacao-dados .ui-dialog-content{
   height: 58px !important;
   font-size: 14px !important;
}

#modal-title {
  background: --var(font-color);
  color: #FFF;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#modal-close{
  background: --var(font-color);
  text-align: right;
  padding: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-domjs-conteudo{
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.3);
}




/**************************************
***************TABELAS*****************
**************************************/

table {
    color: var(--font-color);
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}

.d-flex {
  display: flex !important; }

.align-items-center {
  align-items: center !important; }

td#corpo{
  padding: 0 20px;
}

.tabelanum1{
  border: 0 !important;
}

td.tableDetalheLinhaSeparador {
    background-color: #ccdce6 !important;
}

tr.tableHeader {
  background-color: #ccdce6 !important;
}

.tabelanum2{
  border: 0 !important;
}

table.cellcolor th, table tr.cellcolor th, .cellcolor, tr.even{
  background-color: #f5f9fd;
  font-size: 12px;
}

table.styled tr td, table.styled tr th{
  font-size: 12px;
}

table.strong th, tr.strong th, tr.strong td, table.styled th{
  background-color: #ccdce6;
  color: --var(font-color) !important;
  font-size: 12px;
}

td.area-conhecimento-destaque {
    background-color: --var(font-color) !important;
    color: #FFF !important;
    font-size: 12px;
}

.linhaBotoes {
    background-color: #FFF;
}

#formcadastro .formdktd,
.tableDetalhe .formdktd,
.titulo-tabela-listagem {
  background-color: #ccdce6 !important;
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: --var(font-color);
  padding: 8px;
}

#formcadastro input:not(.botaolistagem , .chosen-search input), #formcadastro textarea {
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #cddce6;
  padding: 8px;
  font-size: 1.75rem;
  flex: 2;
  height: auto;
  color: --var(font-color);
  box-sizing: border-box;
}
#formcadastro textarea{ max-width: 75% !important;}

.tablecadastro, .tableDetalhe tr td:first-child{font-weight: bold; /* background-color: red; */}
.tablecadastro tr td:last-child{/* background-color: blue; */}

.chosen-choices{
  border-radius: 3px;
  border: solid 1px #cddce6 !important;
  padding: 5px !important;
}

#estado_civil_id_aluno, #estado_civil_id_responsavel {
  width: 225px !important;
}

#sexo_id_aluno, #sexo_responsavel{
  width: 205px !important;
}

#formcadastro select{
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #cddce6;
  padding: 8px;
  font-size: 1.75rem;
  color: --var(font-color);
}

#formcadastro .formmdtd,
#formcadastro .formlttd{
  color: --var(font-color);
  font-size: 14px;
  padding: 4px 8px;
  vertical-align: top;
  max-width:50%;
  width: auto;
}

.formmdtd sub, .formlttd sub{
  color: var(--font-color-gray);
  font-size: 12px;
}

.formmdtd{
  background-color: #f5f9fd;
}

.formlttd{
  background-color: #FFF;
}

.tablelistagem, .tablecadastro, .tableDetalhe{
  padding: 10px 0;
}

.tablelistagem .formdktd{
  background-color: #f5f9fd !important;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  color: --var(font-color);
  padding: 17px 13px;
}

.tablelistagem .formmdtd,
.tablelistagem .formlttd,
.tablelistagem .formmdtd a,
.tablelistagem .formlttd a{
  color: --var(font-color);
  font-size: 12px;
  padding: 8px;
  vertical-align: top;
}

.tablelistagem .formmdtd a, .tablelistagem .formlttd a {
  display: inline-block;
  padding: 0 8px;
}

.tableDetalhe .formmdtd,
.tableDetalhe .formlttd{
  color: --var(font-color);
  font-size: 1.75rem;
  padding: 12px;
  vertical-align: top;
}

.tableDetalhe th{
  background-color: #f5f9fd !important;
  font-size: 1.75rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  color: --var(font-color) !important;
  padding: 17px 13px;
}

table#matriculas select {
    background-color: #e9f0f8;
    color: --var(font-color);
    border-color: #ccdce6;
}


table.tablelistagem.auditoria-tab .formdktd {
    background-color: #ccdce6 !important;
    font-size: 14px;
    padding: 5px;
}

table.tablelistagem.auditoria-tab tr td.formlttd {
    padding: 4px;
    font-size: 12px;
}

table.tablelistagem.auditoria-tab tr:nth-child(2n+1) td.formlttd{
  background-color: rgb(233, 239, 247) !important;
}

.area_conhecimento_title td {
    padding: 13px 0;
}

.area_conhecimento_title {
    font-size: 14px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

a.clone-values {
  color: --var(font-color);
  font-size: 15px;
  cursor: pointer;
}


/**************************************
**********TABELAS DE ADIÇÃO************
**************************************/
table.tabela-adicao {
    width: 100%;
    border: 0 !important;
}

table.tabela-adicao td {
  text-align: left;
  padding: 8px 15px !important;
  border: 0 !important;
}

table.tabela-adicao .formdktd td{
  padding: 8px 15px !important;
}

table.tabela-adicao .formmdtd,
table.tabela-adicao .formlttd{
  background-color: #f5f9fd;
}

table.tabela-adicao td .geral,
table.tabela-adicao .obrigatorio,
table.tabela-adicao td .btn-detalhes{
  width: 100% !important;
}

table.paginacao{
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

table.paginacao td {
  border: 1px solid #ccdce6;
  padding: 10px !important;
  text-align: center;
}

table.paginacao td a{
  color: var(--font-color-a)
}

table.paginacao td a.nvp_paginador {
  font-size: 1.5rem;
}

#tabela_arredondamento_numerica tr:last-child,
#tabela_arredondamento_numerica tr.tr_tabela_arredondamento_numerica td:last-child,
#tabela_arredondamento_numerica tr#tr_tabela_arredondamento_numerica_cab td:last-child {
  display: none !important;
}

#tabela_arredondamento tr.tr_tabela_arredondamento td:first-child,
#tabela_arredondamento #td_id,
#tabela_arredondamento_numerica tr.tr_tabela_arredondamento_numerica td:first-child,
#tabela_arredondamento_numerica #td_id,
#tabela_arredondamento_numerica .valor_nome,
#tabela_arredondamento_numerica #td_nome
 {
    display: none;
}

/**************************************
********MATRÍCULAS DET ALUNO***********
**************************************/

p.title-table-matricula {
  background-color: #ccdce6 !important;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: --var(font-color);
  padding: 8px;
  margin-bottom: 0;
}

/**************************************
**************TABS/ABAS****************
**************************************/

#tabControl {
  margin: -12px -8px !important;
  background: #FFF;
  min-height: 50px;
}
#tabControl ul li{
  padding: 0 !important;
}

.alunoTab,
.alunoTab-active,
.alunoTab2,
.alunoTab-active2,
.turmaTab,
.turmaTab-active,
#tab1, #tab2, #tab3, #tab4, #tab5, #tab6, #tab7 {
  width: auto !important;
  font-size: 14px;
  font-weight: normal;
  padding: 6px 20px 12px 20px;
  border-radius: 0px !important;
  border: 0 !important;
  color: --var(font-color);
}

.alunoTab,
.alunoTab2,
.turmaTab,
.servidorTab {
  background-image: linear-gradient(to bottom, rgba(233, 239, 247, 0) 34%,rgba(71, 114, 143, 0.16)), linear-gradient(#e9eff7, #e9eff7);
  box-shadow: inset -1px 0 0 0 #ffffff;
}

.alunoTab-active,
.alunoTab-active2,
.turmaTab-active,
.servidorTab-active {
  width: auto !important;
  background: #FFF !important;
  box-shadow: inset 1px 1px 0 0 #cddce6, inset -1px 0 0 0 #cddce6;
}

/*******BOTÕES******/
.btn-green, input.btn-green, .ui-button span.btn-green, #btn_enviar{
  background-color: #0ac336 !important;
  border: 0 !important;
  color: #FFF !important;
}

btn-danger, input.btn-danger {
  color:#fff !important;
  background-color:#aa2e28 !important;
  border-color:#aa2e28
}

input.continuar-processo {
  margin: 10px 5px 10px 0;
}

span.qnt-matriculas {
  font-size: 15px !important;
}

input.proximo-matricula {
  margin: 10px 10px;
}

input.btn_small {
    margin: 4px 0;
    padding: 7px 7px !important;
    color: var(--font-color-a) !important;
    font-size: 12px !important;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile-buttom + label {
    color: --var(font-color);
}

.inputfile-buttom + label {
    border: 1px solid #cddce6;
    background-color: #fff;
    padding: 0;
    border-radius: 3px;
}

.inputfile-buttom + label span,
.inputfile-buttom + label strong {
    padding:8px;
}

.inputfile-buttom + label span {
    width: 200px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-buttom + label strong {
    height: 100% !important;
    color: #FFF !important;
    background-color: #0ac336 !important;
    display: inline-block !important;
}

.inputfile-buttom:disabled + label {
  background-color: #e9f0f8;
  cursor: not-allowed;
}

@media screen and (max-width: 50em) {
  .inputfile-buttom + label strong {
    display: block;
  }
}

@media only screen and (max-width: 1023px) {

  .ieducar-header, .col-8 {}
  select {width: 100vh;}
  .r3c1 {display: none;}
  .campo_obrigatorio {font-size: 30px;}
  .paginacao .row .btn-lg {padding: 12px 45px;}
  .Mobile {display: inherit;}
  .expandir-btn {display:inherit;}
  #formcadastro .formdktd,.tableDetalhe .formdktd,.titulo-tabela-listagem {font-size: 4rem}
  #formcadastro select {font-size: 3rem !important; max-width: none;}
  #formcadastro input, #formcadastro textarea {font-size: 3rem  !important; min-width: 50%;}
  .ieducar-quick-search, .ieducar-sidebar-menu {position: relative}
  .chosen-container, input[type="text"] select .geral {width: 100% !important;}
  select, .geral{width: 100% !important;}
  .chosen-container .chosen-results li.active-result {font-size: 2rem}
  #formcadastro  .formmdtd, #formcadastro .formlttd {display:flex; width: 100%; padding: 4px 10px; max-width: 100%;}
  .breadcrumb a, .breadcrumb span {font-size: 2.5rem !important}
  .formmdtd sub, .formlttd sub, btn-size {font-size:2rem}
  .multiselect {width: 90% !important; margin: auto; margin-top: 20px !important;}
  .quick-search .multiselect__tags { font-size: 3.5rem !important}
  td input[type="checkbox"]:read-only { width: auto !important; height: 4rem !important; min-width: 30%; display:flex}
  input[type="checkbox"]{min-width: 30%; }
  td p {font-size: 2.75rem !important}
  input[type=checkbox] {width: auto !important; transform: scale(2); -webkit-transform: scale(2)}
  .in-ex{width: 1.8em !important;}

  table {font-size: 4rem !important;}
  table.paginacao td a.nvp_paginador { font-size: 4.5rem !important;}
  .nvp_paginador, .nvp_paginador_ativo a {font-size: 5rem !important;}
  table.paginacao{width:95vw !important; margin-top: 3vh !important; margin-bottom: 7vh !important;}
  .tableDetalhe th{font-size: 4.5rem; padding-right: 15rem !important;}
  .avatar-35{width: 70px !important; padding: 5px 0px !important; height: 70px !important;}
  .notifications img {top: 3px !important; width:40px !important;}
  .btn {font-size: 3rem;}
  .tablecadastro{display: flex; }

  .ieducar-header{height: 100px !important;}
  .ieducar-header-logo h1 a {font-size: 4.8rem !important;line-height: 100px !important;}
  .ieducar-header-links .dropbtn {padding: 18px 36px 18px 18px !important; font-size: 4rem !important; background-size: 24px !important;}
  .ieducar-header-links .dropdown-content a {font-size: 1.5rem !important; padding: 25px 25px; margin: 15px 0;}
  .ieducar-menu a {font-size: 3.5rem !important;}
  .ieducar-sidebar-menu {width: 100% !important}
  .ieducar-sidebar-menu li a {font-size: 4.7rem !important; padding: 4rem 25px !important;}
  .ieducar-sub-menu li a{font-size: 3.7rem !important; padding: 25px 25px !important; margin: 15px 0 !important;}
  .tablelistagem .formlttd a, .tablelistagem .formmdtd a, .titulo-tabela-listagem{font-size: 3.4rem !important; width: 39.4rem;}
  input[type="button"] {font-size: 4rem !important; padding: 30px 100px !important;}
  #form_resultado {width: 1023px; overflow-x: auto;}
  .tableDetalheMobile { display: block; max-width: fit-content; overflow-x: auto; white-space: nowrap;}
  .scroll{ margin: 0 4px; width: 900px; overflow: auto;}

  #tablelistagem .formmdtd{ font-size: 1.7rem; width: calc(100% - 15px); margin: 5px; float: left; }
  #ref_cod_escola_chosen a.chosen-single,
  #escola_chosen a.chosen-single{ font-size: 3.4rem !important;}
  #tablelistagem .formlttd{ width: calc(100% - 15px); margin: 5px; float: left; padding:10px 8px}
  .form, .formlttd, .formmdtd, .tablelistagem .formdktd,
  #tablelistagem .formlttd, #tablelistagem .formmdtd  { font-size: 4rem !important; line-height: 3; font-weight:bold}
  td.formlttd table.tableDetalhe {width: 1023px;}
  .ieducar-quick-searchM{width: 90%; padding-top: 5rem;}

  #expandido:checked ~ .r3c1 {display: table-cell; left: 0;}
  #expandido:checked ~ .Mobile {display: visible; left: 0}
  #expandido:checked ~ .expandir-btn {margin-left: 74.8%; }
  #expandido:checked ~ .ieducar-quick-search {display: inherit;}
  #expandido:checked ~ .ieducar-sidebar-menu {display: inherit;}

    .form-inline .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .form-inline .form-control {
      display: inline-block;
    }
    .form-inline .radio,
    .form-inline .checkbox {
      display: inline-block;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    .form-inline .radio input[type="radio"],
    .form-inline .checkbox input[type="checkbox"] {
      float: none;
      margin-left: 0;
    }
  }

/****WIDGET SUPORTE****/

.freshwidget-button{
  left: 30px !important;
}

a.btn-detalhes {
  background: #CCDCE6 !important;
  padding: 8px 17px;
  border-radius: 3px;
  color: --var(font-color);
  cursor: pointer;
  white-space: nowrap;
}

.matricula-situacao-deslocamento {
  color: #FF6600;
}

#ref_cod_escola_chosen a.chosen-single,
#escola_chosen a.chosen-single{
  text-decoration: none !important;
  cursor: initial !important;
  font-size: 1.4rem !important;
  width: 100% !important;
}

#componentes_turma_cad td{
  padding: 5px;
}

.button_center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn-disabled#btn_enviar {
  background: rgb(233, 240, 248) !important;
  cursor: not-allowed;
}
