body {
  background-color: white;
  font-family: "Open Sans";
  color: #646b71;
  font-size: 14px;
}

#corpo{
  text-align: center;
}

h1{
  font-size: 24px;
  color: #596066;
  font-weight: normal;
  margin-top: 0;
  margin: 0;
  padding: 0;
}

h2{
  font-size: 16px;
  color: #646b71;
  font-weight: normal;
}

a{
  color: #188ad1;
  text-decoration: none;
}

#flash-container {
  min-height: 41px;
}

#flash-container, #menu, #corpo, #rodape {

  /* login-form.widght + 42px */
  width: 100% !important;
}

#login-form {
  width: 460px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
  text-align: left;
}

#login-form form{
  margin-top: 25px;
}

#login-form, #login-form form {
  margin-bottom: 0;
}

#login-form label {
  display: block;
}

.forget-password {
  margin-top: 10px;
  padding: 12px 0;
  text-align: right;
}

input#senha, input#login {
  color: #646b71;
  margin: 5px 0 10px;
  padding: 11px;
  border-radius: 3px;
  border: solid 1px #dddddd;
  width: 100%;
  box-sizing: border-box;
}

input.submit{
  background-color: #0ac336 !important;
  border: 0 !important;
  color: #FFF !important;
  padding: 12px 20px;
  margin-top: 10px;
  border-radius: 3px;
  float: left;
}

#recaptcha_widget_div {
  margin-bottom: 9px;
}

#service-info {
  margin-left: 372px;
}

#service-info .title {
  color: #184E7F;
}

#service-info p.service, #service-info p.requiriments {
  font-size: 125%;
}

#service-info ul.service-about {
  margin-top: 10px;
  margin-bottom: 20px;
}

ul.unstyled, ol.unstyled {
  list-style: none;
}

#service-info ul.requiriments {
  margin-top: 10px;
  margin-bottom: 10px;
}

#rodape {
  margin-top: 10px;
  padding: 10px;
  /* border-top: 1px solid #e9e9e9; */
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

#rodape .contact {
  font-weight: bold;
}

.rodape-social {
  margin-top: 40px;
  font-size: 12px;
  width: 610px;
  margin: 30px auto 0px;
  display: inline-block;
}

.rodape-social p{
  float: left;
  margin: 0;
  padding: 4px 0;
}

.social-icons {
  float: right
}

#div-outubro-rosa {
  position: relative;
  padding-top: 66px;
  left: -180px;
  width: 100px;
}
#div-novembro-azul {
  position: relative;
  padding-top: 66px;
  left: -180px;
  width: 100px;
}

#div-copa-no-brasil img{
  height: 180px;
}

#div-copa-no-brasil {
  position: relative;
  top: -347px;
  left: -160px;
  width: 158px;
}

#div-copa-no-brasil p{
  margin-left: 15px;
}

#div-outubro-rosa img{
  height: 180px;
}

#div-novembro-azul img{
  height: 180px;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.error{
  width: 460px;
  border-radius: 3px;
  background-color: #ffdbdb;
  border: solid 1px #ffb2b2;
  margin: 0 auto;
  padding: 10px 50px;
  box-sizing: border-box;
  text-align: left;
  color: #d46262;
  margin-bottom: 20px;
}

.error a{
  color: #d46262;
  font-weight: bold;
}

#mensagens {
  margin: 0 auto;
  width: 815px;
  text-align: left;
  font-family: Open Sans;
}

#mensagens .titulo {
  font-size: 16px;
  font-weight: bold;
  display: inline;
}

#mensagens .mensagem {
  font-size: 14px;
}

#mensagens .icone {
  float: left;
  padding-right: 15px;
}

#mensagens .icone img {
  display: block;
}

#mensagens .message{
  padding: 15px 15px 15px 15px;
}

#mensagens .message-success {
  background-color: #e6ffec;
  color: #5fc97a;
  border: solid 1px #92e8a8 ;
}

#mensagens .message-warning {
  background-color: #fff9db;
  color: #ba9d0b;
  border: solid 1px #fff3b3 ;
}

#mensagens .message-info {
  background-color: #dbeeff;
  color: #629bd4;
  border: solid 1px #b2d9ff ;
}

#mensagens .message-danger {
background-color: #ffdbdb;
  color: #d46262;
  border: solid 1px #ffb2b2 ;
}