body {
    margin: auto;
    width: 1000px;
    padding: 10px;
}

.title {
    font-family: 'Dejavu Sans', 'Tahoma';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    font-family: 'Dejavu Sans', 'Tahoma';
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    text-align: left;
}

li {
    font-family: 'Dejavu Sans', 'Tahoma';
    font-size: 14px;
    text-align: left;
}


ul p {
    font-family: 'Dejavu Sans', 'Tahoma';
    font-size: 14px;
    text-align: left;
    color: #336699;
    font-style: italic;
}