body {
    font-family: 'Open Sans';
    margin: auto;
    width: 1000px;
    padding: 10px;
}

.date-info {
  text-align: right;
  padding-right: 10px;
}

.title {
    font-family: 'Open Sans', 'Tahoma';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    font-family: 'Open Sans', 'Tahoma';
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    text-align: left;
}

li {
    font-family: 'Open Sans', 'Tahoma';
    font-size: 14px;
    text-align: left;
}


ul p {
    font-family: 'Open Sans', 'Tahoma';
    font-size: 14px;
    text-align: left;
    color: #336699;
}

.educacenso-institution-warning-container {
  color: #FF4E4E;
  background-color: #FFEEEE;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
  font-family: 'Open Sans', 'Tahoma';
  font-size: 14px;
}

.educacenso-link-path {
    color : #188ad1;
}

.avisos-educacenso {
    color: #449023;
}