.pessoa-links {
  display: block;
  padding: 5px;
  margin: 2px;
}

.pessoa-links a {
  /*
    obs: no firefox, ao mostrar o elemento (.show, jquery), é setado display como block,
         para reparar isto, após chamar .show(), chamar .css('display', 'inline');
  */

  margin-right: 5px;
  cursor: pointer;
}

#deficiencias_chzn ul {
  width: 307px;
}

#beneficios_chzn ul {
  width: 307px;
}

#beneficios {
  width: 307px;
}

#tabControl ul{
  display: inline;
  list-style-type: none;
}

#tabControl ul li{
  padding-left: 2px;
  float: left;

}

.alunoTab{
  border: 1px solid rgb(73, 92, 103);
  border-bottom-color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  width: 100px;
  height: 25px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.alunoTab2{
  border: 1px solid rgb(73, 92, 103);
  border-bottom-color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  width: 100px;
  height: 25px;
  background-color: #f5f9fd;
  text-align: center;
  cursor: pointer;
}

.alunoTab-active{
  border: 1px solid rgb(73, 92, 103);
  border-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  width: 100px;
  height: 25px;
  background-color: #f5f9fd;
  text-align: center;
  font-weight: bold;
}

.alunoTab-active2{
  border: 1px solid rgb(73, 92, 103);
  border-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  width: 100px;
  height: 25px;
  background-color: white;
  text-align: center;
  font-weight: bold;
}

.tabText{
  display: inline-block;
  padding-top: 6px;
}

#tr_tit_dados_hospital, #tr_tit_dados_responsavel,
#tit_dados_hospital, #tit_dados_responsavel, #tr_label_calca,
#tr_label_calcado, #tr_label_saia, #tr_label_camiseta,
#tr_label_meia, #tr_label_bermuda, #tr_label_blusa_jaqueta,
.tit_uniforme{
  font-weight: bold;
  font-size: 11px;
}


/*  MODAL TESTE :p

#dialog-form-pessoa-aluno { font-size: 62.5%; }
#dialog-form-pessoa-aluno label, dialog-form-pessoa-aluno input { display:block; }
#dialog-form-pessoa-aluno > input { margin-bottom:12px; width:95%; padding: .4em; }
#dialog-form-pessoa-aluno > fieldset { padding:0; border:0; margin-top:25px; }
#dialog-form-pessoa-aluno > h1 { font-size: 1.2em; margin: .6em 0; }*/

.ui-dialog .ui-state-error { padding: .3em; }
.validateTips-pessoa-aluno { border: 1px solid transparent; padding: 0.3em; }

.ui-widget-overlay{
     background:black;
}

.ui-dialog-titlebar {display:none}

.ui-state-error {
  background: white !important;
  color: black !important;
}

.ui-button span{

  color: #ffffff ;
  border: 1px solid #495C67;

}

.ui-state-hover, .ui-state-focus{
  border: 0px !important;
}

fieldset {
  border: 0px;
}

fieldset legend{
  font-weight: bold;

}

tr td:first-child legend{
  margin-left: -3px;
}

#feedback-messages{
  z-index: 1050;
}

.ui-button-text {
   font-size: 13px !important;
}

div p a{
  color: blue !important;
  cursor: pointer;
}

#link_cadastro_detalhado{
  font-family: arial, verdana, sans-serif, "Times New Roman";
  font-size: 12px;

}

#link_cadastro_detalhado, #link_cadastro_detalhado_parent{
  margin-left: 1.2em;
}

.ui-dialog-content, .ui-widget-content{
  padding: 0px !important;
}
.select {
  border: 1px solid #ffffff; background: #ffffff; color: #000000;
}
input{
  font-size: 11px;
}

#data_emissao_rg, #uf_emissao_rg {
  width: 135px !important;
}

#orgao_emissao_rg {
  width: 184px !important;
}
