.unifica_pessoa_h2 {
    font-size: 14px;
    margin: 0;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: -4px;
}

#tr_tabela_pessoas_cab {
    display: none;
}

.tabela-adicao .tr_tabela_pessoas:nth-of-type(-n+4) td a {
  display: none;
}

#tabela_pessoas.tabela-adicao td {
    padding: 5px 8px !important;
}

table#tabela_pessoas_unificadas {
    border-spacing: 0;
    width: 100%;
}

#tabela_pessoas_unificadas .tr_title {
    background-color: #ccdce6;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    color: #47728f;
}

#tabela_pessoas_unificadas .tr_title td {
    padding: 10px;
}

tr.linha_listagem td {
    padding: 5px 10px;
}

tr.linha_listagem:nth-child(even) {
    background-color: #f5f9fd;
}

.link_remove {
    cursor: pointer;
}

#tr_confirma_dados_unificacao td {
    text-align: center;
    font-size: 12px;
    padding: 20px 0px;
}

.linhaBotoes td input {
    margin: 0px 4px;
}

.botaolistagem.btn-disabled {
    background: rgb(233, 240, 248) !important;
    cursor: not-allowed;
}

.lista_pessoas_unificadas_hr hr {

}

tr a {
    color: #47728f;
    cursor: pointer;
}

#tr_observacoes td div {
    padding: 10px;
    color: #FF4E4E;
    background: #FFEEEE;
    border-radius: 8px;
    border: 1px solid;
    font-size: 12px;
    margin-top: 12px;
}

#tr_observacoes td div a#recarregar_lista {
    display: inline-block;
    background-color: rgba(255, 78, 78, .5);
    color: #FFF;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 10px;
}