ul.autocomplete {
  background-color: whiteSmoke;
  color: #3C3C3D;
  cursor: pointer;
  list-style-type: none; 
  margin: 0px;
  margin-left: 2px;
  margin-bottom: 10px;
  padding: 0px;
  border: 1px solid #CACACA;
  border-top: 0px;

  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;

  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;

  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;

  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
}

.decorated {
	text-decoration: underline;
}

*:hover.decorated {
	text-decoration: none;
}

ul.autocomplete li {
  padding: 4px;
}

ul.autocomplete li:hover {
	background: #ECECEC; 
	color: #3C3C3D;
	text-shadow: none;
	text-decoration: none;
}

table.small {

}

table.styled {
  border:           thin solid #e9e9e9;
  border-collapse:  collapse;
  margin-top: 5px;
  
  font-family: arial, verdana, lucida, helvetica, sans-serif;
  font-size: 11px;
}

table {
  caption-side:     top;
}

table > caption {
	margin-bottom: 5px;
}

table.styled tr td, table.styled tr th {
  border: 1px solid #fff;
}

table.styled td, table.styled th {
  padding: 5px;
}

table.styled th {
  background-color: #A1B3BD;
  color: #3C3C3D;
  font-weight: bold;
}

.horizontal-expand {
	width: 100%;
}

.center {
  text-align:       center;
}

.right {
  text-align:       right;
}

.texto-normal, .texto-normal a, a.texto-normal {
	font-weight: normal;	
}

table.nocellcolor th, .nocellcolor {
  background-color: #fff;
}

table.cellcolor th, table tr.cellcolor th, .cellcolor, tr.even {
  background-color: #E4E9ED;
}

select, input, textarea {
  border: 1px solid #CACACA;
}

select, input, textarea{

  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;

  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;

  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;

  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
}

select, input, textarea {
  padding: 2px;
}

table.strong th , tr.strong th, tr.strong td{
  background-color: #A1B3BD;
}

div#error h1 {
  font-size: 300%;
}

div#error {
  margin-top: 20px;
  /*border: 1px solid;*/
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

div#error ul {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
}

div#error div#detail {
  margin-top: 40px;
  border-top: 1px solid;
}

.hidden {
  display: none;
}

.success {
  color: #157100 !important;
  border: 1px solid #e0f9d8 !important;
  background-color: #f0f9ee !important;
}

.notice {
  color: #b0af84 !important;
  border: 1px solid #fdffac !important;
  background-color: #feffce !important;
}

.error {
  color: #ff4e4e !important;
  border: 1px solid #ffe5e5 !important;
  background-color: #ffeeee !important;
}

.block {
  display: block;
}

.light {
  font-weight: normal;  
}

.small {
  font-size: 90%;
}

#login-form a {
  margin-left: 5px;
}

.spacer {
  padding: 2px;
}
