body {
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: small;
  line-height: 1.5;
	margin: 0px;
	color: #666;
	text-align: left;
}


body, table td{
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: small;
}

a {
	font-weight: bold;
	color: #054B80;	
	text-decoration: none;
}

a.logout {
	color: #ff8f00;
}	

a.cadastro {
	color: #42e112;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, table caption, #service-info p.service, #service-info p.requiriments {
	color: #184e7f;
	font-weight: bold;			
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 110%;
}

#corpo {
  	margin-top: 10px;
  	padding: 10px;
}

.explication {
	font-style: italic;	
}

body {
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 13px;/*small;*/
  line-height: 1.5;
	margin: 0px;
	color: #666;
  padding: 0px;
}

#cabecalho {
	color: #fff;
/*  padding-top: 6px;
  padding-bottom: 6px;*/
}

#cabecalho, #ccorpo {
	background-color: #184e7f;
}

#flash-container, #menu, #corpo, /*#cabecalho #ccorpo,*/ #rodape {
    width: 800px;
    margin-left: auto;
    margin-right: auto;    
}

#flash-container {
    margin-top: 10px;    
    margin-bottom: 10px;
}

#flash-container p {
    margin-top: 5px;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#flash-container .flash {
    color: #b0af84;
    border: 1px solid #fdffac;
    background-color: #feffce;
}

#flash-container .success {
    color: #157100;
    border: 1px solid #e0f9d8;
    background-color: #f0f9ee;
}

#flash-container .exclamation {
    color: #ffba00;
    border: 1px solid #fff3d3;
    background-color: #fff7e2;
}

#flash-container .error {
    color: #ff4e4e;
    border: 1px solid #ffe5e5;
    background-color: #ffeeee;
}

#cabecalho #ccorpo {
  line-height: 1.2;
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

#cabecalho #ccorpo #logo {
	font-size: 175%;
	font-weight: bold;	
}

#cabecalho #ccorpo a#logo, #cabecalho #ccorpo #status a#user {
	font-weight: bold;	
}

#cabecalho #ccorpo a{
	color: #fff;
	text-decoration: none;
}

#cabecalho #ccorpo #status {
	float: right;
  text-align: right;
	margin-top: 6px;
}

.erro{
  color: red;
    padding: 4px;
}

form {
    margin-top: 10px;
    margin-bottom: 10px;
}

#rodape {
	margin-top: 10px;
	padding: 10px;
  border-top: 1px solid #e9e9e9;
  padding-left: 0px;
  padding-right: 0px;
	text-align: center;
}

#rodape .contact {
	font-weight: bold;
}

input, textarea, .bar-buttons .button {
    border: 1px solid #CACACA;
}

input, textarea{

  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;

  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;

  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;

  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
}

input[type='submit'], .bar-buttons .button {

  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;

  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;

  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;

  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

a.button, input, textarea {
    padding: 4px;
}

input[type="submit"], input[type="button"], .bar-buttons .button  {
  background-color: #f5f5f5;  
  color: #3C3C3D;
  cursor: pointer;
}

input.submit, input.button  {
  background-color: #f5f5f5;  
  color: #3C3C3D;
  cursor: pointer;
}

a.button, input[type="submit"], input[type="button"], .bar-buttons .button {
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 3px;
}

input.submit, input.button {
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 3px;
}

a.button, input[type="button"], .bar-buttons a.button  {
	font-weight: normal;
	font-style: normal;
}

a[class="button"].primary, input[type="submit"], input[type="button"].primary, .bar-buttons .button.primary {
  font-weight: bold;
  font-style: normal;
}

input.submit, input.button {
  font-weight: bold;
  font-style: normal;
}

input:focus, textarea:focus, .bar-buttons .button:focus {
	border: 1px solid #666;
/*    outline: #054B80 solid 1px;
    outline-offset: -2px;*/
    outline-width: 0px;
}

input:hover, textarea:hover {
	border: 1px solid #666;
}

input[type="submit"]:hover, input[type="button"]:hover, .bar-buttons .button:hover {
	border: 1px solid #CACACA;
	background: #ECECEC; 
	color: #3C3C3D;
	text-shadow: none;
	text-decoration: none;
}

input.submit:hover, input.buton:hover  {
	border: 1px solid #CACACA;
	background: #ECECEC; 
	color: #3C3C3D;
	text-shadow: none;
	text-decoration: none;
}

input, textarea {
    margin-top:4px;
    margin-left:4px;
}

input#senha, input#login {
  width: 180px;
}

#login-form {
  width:400px;
  float: left;
}

#service-info {
  margin-left: 401px;
}

#service-info p.service, #service-info p.requiriments {
  font-size: 125%;
}

#service-info ul.service-about {
  margin-top: 10px;
  margin-bottom: 20px;
}

ul.unstyled, ol.unstyled {
  list-style: none;
}

#service-info ul.requiriments {
  margin-top: 10px;
  margin-bottom: 10px;
}

#service-info ul.service-about li{
  margin-top: 10px;
  margin-bottom: 10px;
}

#service-info ul.service-about li span {
  font-weight: bold;
  display: block;
}

#rodape {
  clear: left;
}
