

.pageTabb{
  border-left: solid 1px #5D5332;
  border-right: solid 1px #5D5332;
  border-bottom: solid 1px #5D5332;
  background-Color: #FFFFFF;
  background-repeat: repeat-y;
}


.tabPage {

 #height: 0%;
}
