<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="false">
  <logging>
    <log type="coverage-html" target="./tests/log/report" charset="UTF-8"/>
    <log type="coverage-clover" target="./tests/log/clover.xml"/>
  </logging>
  <filter>
	<whitelist>
	  <directory suffix=".php">.</directory>
	  <directory suffix=".php">../src</directory>
      <exclude>
	  	<directory>vendor</directory>
	  	<directory>tests</directory>
      </exclude>
	</whitelist>
  </filter>
  <testsuites>
    <testsuite name="Functional">
      <directory suffix="Test.php">./tests/Functional</directory>
    </testsuite>

    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="CORE_EXT_CONFIGURATION_ENV" value="testing"/>
    <env name="API_URI" value="http://localhost/module/Api/Regra"/>
    <env name="API_ACCESS_KEY" value=""/>
    <env name="API_SECRET_KEY" value=""/>
  </php>
</phpunit>
