<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="false">
  <testsuites>
    <testsuite name="Functional">
      <directory suffix="Test.php">./tests/Functional</directory>
    </testsuite>

    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="CORE_EXT_CONFIGURATION_ENV" value="testing"/>
  </php>
</phpunit>